.form{
  margin: auto;
  position: absolute;
  top: 50px;
  left: 40%;
  right: 0;
  bottom: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.register{
  text-align: left;
  margin: auto;
}

.register ul li input[type=text],
.register ul li input[type=password],
.register ul li input[type=email] {
  font-size: 16px;
  margin: auto;
}

.register ul li input {
  width: 275px;
  height: 40px;
  margin-top: 20px;
}

.register ul li input[type=submit] {
  width: 285px;
  height: 40px;
}
